<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.zhm.model_news">

    <application>
        <activity android:name=".activtiy.livedata.activity.DataBindingActivity"></activity>
        <activity android:name=".activtiy.livedata.activity.LiveDataBActivity" />
        <activity android:name=".activtiy.livedata.activity.LiveDataActivity" />
        <activity android:name=".activtiy.livedata.activity.NewsOneActivity" />
    </application>

</manifest>